<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="3.0.8.84-alpha" targetFramework="net40" />
  <package id="WebSharper.TypeScript.Lib" version="3.0.55-alpha" targetFramework="net40" />
  <package id="WebSharper.WinJS" version="3.0.7.31-alpha" targetFramework="net40" />
</packages>